<div class="grid-background">
  <mat-card>
    <mat-card-title>Video Player</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let file of uploadedFiles">
          <video class="video-player" [src]="'http://localhost:3000/uploads/' + file.filename" controls></video>
          <p>Filename: {{ file.filename }}</p>
          <p>Mimetype: {{ file.mimetype }}</p>
          <p>Size: {{ file.size }} bytes</p>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="deleteAllFiles()">Delete All Files</button>
    </mat-card-actions>
  </mat-card>
</div>
